.server-errors-list {
  color:red;
}

.search-container {
  float: right;
  color:red;
}

.tweetResponse:hover {
  background-color: deepskyblue;
  cursor: pointer;
}

.hoverB:hover{
  background-color: deepskyblue;
  cursor: pointer;
}

.contentT {
	word-wrap: break-word;
    word-break: break-word;
}